/* 應用主頁全預設定 */
.mp-container {
    padding: 0 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.mainpage-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 8px;
}

/* 廣告版位 */
.ads-container {
    width: 100%;
    height: 25%;
    display: flex;
    position: relative;
    top: 0;
    /* border: 1px solid #000; */
    gap: 5%;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    justify-content: center;
}

.main-ad {
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 2rem 1rem 2rem; */
    /* border: 3px solid var(--secondary-color); */
    /* background-color: #000; */
    border-radius: 15px;
}

.main-ad img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}


/* 角色版位 */

.mainrole-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 40%;
    background-color: var(--secondary-color);
    border-radius: 24px;
    gap: 1rem;
    /* Debug Using */
    /* border: 1px solid blue; */
}

.encourageTitle {
    font-family: 'Noto Sans TC';
    font-size: 2vw;
    font-weight: 700;
    transition: all 0.5s ease;
    max-width: 80%;
    word-break: break-all;
    line-break: break-word;
}


.roleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Debug Using */
    /* border: 1px solid red; */
}

.roleImg>img {
    max-height: 100%;
}

/* 資訊卡片版位（儀錶板） */
.infocard-container {
    align-self: center;
    width: 60%;
    height: 100%;
    gap: 16px;
    /* Debug Using */
    /* border: 1px solid purple; */
}

.infocard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #f8eadc;
    border-radius: 16px;
}

.mindmap-wrapper {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.mindmap-wrapper svg {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 768px) {

    .mp-container {
        padding: 0 10px;
        height: auto;
        gap: 0;
        overflow-y: scroll;
        align-items: center;
    }

    .mainpage-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
        overflow-y: visible;
        padding-top: 1.5rem;
    }

    .ads-container {
        top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 500px;
        flex-direction: column;
    }

    .main-ad{max-height: 50%;}

    .mainrole-container{gap:0;max-height: 20%;}
    
    .mainrole-container,
    .infocard-container {
        width: 80%;
    }

    .infocard-container{max-height: fit-content;}

    .encourageTitle {
        font-size: 5vw;
        margin-top: 1rem;
    }

    .flex-row {
        flex-direction: column;
        height: fit-content;
    }

    .infocard {
        min-width: 100%;
        min-height: 20%;
        padding: 5% 0;
    }

    .roleImg {
        height: 80%;
    }

    .user-header{
        width: 80%;
        justify-content: space-evenly;
    }

    .user-avatar{
        margin-right: 5px;
    }
    .nav-item{
        padding: 0;
    }
}